<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General</key>
	<dict>
		<key>Default size</key>
		<dict>
			<key>Width</key>
			<integer>320</integer>
			<key>Height</key>
			<integer>309</integer>
		</dict>
		<key>Header height</key>
		<integer>45</integer>
		<key>Outer padding</key>
		<dict>
			<key>Height</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>0</integer>
		</dict>
		<key>Shadow insets</key>
		<dict>
			<key>Top</key>
			<integer>0</integer>
			<key>Left</key>
			<integer>0</integer>
			<key>Bottom</key>
			<integer>10</integer>
			<key>Right</key>
			<integer>0</integer>
		</dict>
		<key>Day titles in header</key>
		<true/>
		<key>Font</key>
		<dict>
			<key>Type</key>
			<string>bold</string>
			<key>Size</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>Background</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>background.png</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
				<key>Blur radius</key>
				<integer>9</integer>
			</dict>
		</dict>
	</dict>
	<key>Month title</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Font</key>
			<dict>
				<key>Type</key>
				<string>bold</string>
				<key>Size</key>
				<integer>22</integer>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>-5</integer>
			</dict>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>255,255,255</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Color</key>
			<string>84,84,84</string>
		</dict>
	</dict>
	<key>Day titles</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Font</key>
			<dict>
				<key>Type</key>
				<string>bold</string>
				<key>Size</key>
				<integer>10</integer>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>-10</integer>
			</dict>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>255,255,255</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Color</key>
			<string>84,84,84</string>
		</dict>
	</dict>
	<key>Calendar digits today</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Coordinates round</key>
			<string>ceil</string>
			<key>Color</key>
			<string>115,137,165</string>
			<key>Shadow</key>
			<dict>
				<key>Type</key>
				<string>inner</string>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>1</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
				<key>Blur radius</key>
				<integer>5</integer>
			</dict>
			<key>Stroke</key>
			<dict>
				<key>Width</key>
				<integer>2</integer>
				<key>Color</key>
				<string>54,79,114</string>
			</dict>
			<key>Insets</key>
			<dict>
				<key>Top</key>
				<integer>-1</integer>
				<key>Left</key>
				<integer>-1</integer>
				<key>Bottom</key>
				<integer>0</integer>
				<key>Right</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>255,255,255</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>35,76,117</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>-4</integer>
			</dict>
		</dict>
	</dict>
	<key>Calendar digits today selected</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>25,128,229</string>
			<key>Shadow</key>
			<dict>
				<key>Type</key>
				<string>inner</string>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>1</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
				<key>Blur radius</key>
				<integer>5</integer>
			</dict>
			<key>Stroke</key>
			<dict>
				<key>Width</key>
				<integer>2</integer>
				<key>Color</key>
				<string>54,79,114</string>
			</dict>
			<key>Insets</key>
			<dict>
				<key>Top</key>
				<integer>-1</integer>
				<key>Left</key>
				<integer>-1</integer>
				<key>Bottom</key>
				<integer>0</integer>
				<key>Right</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>255,255,255</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>35,76,117</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>-4</integer>
			</dict>
		</dict>
	</dict>
	<key>Calendar digits active</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<array>
				<dict>
					<key>Color</key>
					<string>43,53,64</string>
					<key>Position</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Color</key>
					<string>73,90,109</string>
					<key>Position</key>
					<real>0.8</real>
				</dict>
				<dict>
					<key>Color</key>
					<string>73,90,109</string>
					<key>Position</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>231,230,233</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>-4</integer>
			</dict>
		</dict>
	</dict>
	<key>Calendar digits active selected</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>255,255,255</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>35,76,117</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>-1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>-4</integer>
			</dict>
		</dict>
	</dict>
	<key>Calendar digits inactive</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<array>
				<dict>
					<key>Color</key>
					<string>130,134,142</string>
					<key>Position</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Color</key>
					<string>145,153,164</string>
					<key>Position</key>
					<real>0.8</real>
				</dict>
				<dict>
					<key>Color</key>
					<string>145,153,164</string>
					<key>Position</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>232,231,233</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>-4</integer>
			</dict>
		</dict>
	</dict>
	<key>Calendar digits inactive selected</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>255,255,255</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>35,76,117</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>-1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>0</integer>
				<key>Height</key>
				<integer>-4</integer>
			</dict>
		</dict>
	</dict>
	<key>Month arrows</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Color</key>
			<array>
				<dict>
					<key>Color</key>
					<string>46,57,68</string>
					<key>Position</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Color</key>
					<string>74,91,110</string>
					<key>Position</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Size</key>
			<dict>
				<key>Width</key>
				<integer>12</integer>
				<key>Height</key>
				<integer>15</integer>
			</dict>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>255,255,255</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>-3</integer>
				<key>Height</key>
				<integer>-5</integer>
			</dict>
		</dict>
	</dict>
	<key>Selection</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Coordinates round</key>
			<string>ceil</string>
			<key>Color</key>
			<array>
				<dict>
					<key>Color</key>
					<string>0,114,226</string>
					<key>Position</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Color</key>
					<string>0,114,226</string>
					<key>Position</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>Color</key>
					<string>43,138,231</string>
					<key>Position</key>
					<real>0.499</real>
				</dict>
				<dict>
					<key>Color</key>
					<string>114,177,239</string>
					<key>Position</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Stroke</key>
			<dict>
				<key>Width</key>
				<integer>2</integer>
				<key>Color</key>
				<string>41,54,73</string>
			</dict>
			<key>Insets</key>
			<dict>
				<key>Top</key>
				<integer>-1</integer>
				<key>Left</key>
				<integer>-1</integer>
				<key>Bottom</key>
				<integer>0</integer>
				<key>Right</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
