<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General</key>
	<dict>
		<key>Default size</key>
		<dict>
			<key>Width</key>
			<integer>260</integer>
			<key>Height</key>
			<integer>200</integer>
		</dict>
		<key>Arrow size</key>
		<dict>
			<key>Width</key>
			<integer>18</integer>
			<key>Height</key>
			<integer>11</integer>
		</dict>
		<key>Corner radius</key>
		<integer>10</integer>
		<key>Header height</key>
		<integer>40</integer>
		<key>Outer padding</key>
		<dict>
			<key>Height</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>0</integer>
		</dict>
		<key>Inner padding</key>
		<dict>
			<key>Height</key>
			<real>10</real>
			<key>Width</key>
			<integer>10</integer>
		</dict>
		<key>Shadow insets</key>
		<dict>
			<key>Top</key>
			<integer>3</integer>
			<key>Left</key>
			<integer>3</integer>
			<key>Bottom</key>
			<integer>3</integer>
			<key>Right</key>
			<integer>3</integer>
		</dict>
		<key>Day titles in header</key>
		<false/>
		<key>Shadow blur radius</key>
		<integer>1</integer>
		<key>Font</key>
		<dict>
			<key>Size</key>
			<integer>14</integer>
			<key>Name</key>
			<string>Helvetica</string>
		</dict>
	</dict>
	<key>Background</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<string>51,51,51</string>
			<key>Stroke</key>
			<dict>
				<key>Width</key>
				<integer>1</integer>
				<key>Color</key>
				<string>0,0,0,0.59</string>
			</dict>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>1</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
				<key>Blur radius</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>Main</key>
		<dict>
			<key>Color</key>
			<string>0,0,0</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>255,255,255,0.56</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>Overlay</key>
		<dict>
			<key>Color</key>
			<array>
				<dict>
					<key>Color</key>
					<string>0,0,0,0.45</string>
					<key>Position</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Color</key>
					<string>0,0,0,0.15</string>
					<key>Position</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Separators</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Width</key>
			<real>0.5</real>
			<key>Color</key>
			<string>255,255,255,0.27</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>-1</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Month title</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
				<key>Name</key>
				<string>Helvetica-Bold</string>
			</dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>255,255,255</string>
		</dict>
	</dict>
	<key>Day titles</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>Name</key>
				<string>Helvetica</string>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>255,255,255</string>
		</dict>
	</dict>
	<key>Calendar digits today</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>250,61,23</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>-1</integer>
				<key>Height</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Calendar digits active</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>255,255,255</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>-1</integer>
				<key>Height</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Calendar digits inactive</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>153,153,153</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>1</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>-1</integer>
				<key>Height</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Calendar digits not allowed</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Type</key>
			<string>PMText</string>
			<key>Color</key>
			<string>153,153,153</string>
			<key>Shadow</key>
			<dict>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>1</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>-1</integer>
				<key>Height</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>Month arrows</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>Size</key>
			<dict>
				<key>Height</key>
				<integer>8</integer>
				<key>Width</key>
				<integer>6</integer>
			</dict>
			<key>Color</key>
			<string>255,255,255</string>
		</dict>
	</dict>
	<key>Selection</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Corner radius</key>
			<integer>10</integer>
			<key>Color</key>
			<array>
				<dict>
					<key>Color</key>
					<string>209,20,0,0.86</string>
					<key>Position</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Color</key>
					<string>163,5,10,0.88</string>
					<key>Position</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Stroke</key>
			<dict>
				<key>Width</key>
				<real>0.5</real>
				<key>Color</key>
				<string>0,0,0,0.72</string>
			</dict>
			<key>Offset</key>
			<dict>
				<key>Width</key>
				<integer>2</integer>
				<key>Height</key>
				<integer>2</integer>
			</dict>
			<key>Insets</key>
			<dict>
				<key>Top</key>
				<integer>2</integer>
				<key>Left</key>
				<integer>2</integer>
				<key>Bottom</key>
				<integer>2</integer>
				<key>Right</key>
				<integer>4</integer>
			</dict>
			<key>Shadow</key>
			<dict>
				<key>Blur radius</key>
				<integer>3</integer>
				<key>Color</key>
				<string>0,0,0</string>
				<key>Offset</key>
				<dict>
					<key>Width</key>
					<integer>1</integer>
					<key>Height</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
